<table>
  <tr>
    <td>
      <div id="mazecontainer" class="mazecontainer"></div>
    </td>
    <td class="controls-td">
      <div class="controls">
        Select maze size
        <select id="selectsize">
          <option value="10" selected>10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <button id="generatenew">Generate New</button>
        <button id="solvethemaze">Solve</button>

        <div>
          Use arrow keys on the keyboard to navigate
          <img src="assets/arrowkeys.png" class="imagearrowkeys" />
        </div>

        <table style="margin-top:25px;" *ngIf="false">
          <tr>
            <td>Break</td>
            <td><div id="breaksavailable">3</div></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button id="breakup" class="wall-breaker-button">
                UP
              </button>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <button id="breakleft" class="wall-breaker-button">
                LEFT
              </button>
            </td>
            <td></td>
            <td>
              <button id="breakright" class="wall-breaker-button">
                RIGHT
              </button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button id="breakdown" class="wall-breaker-button">
                DOWN
              </button>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
